.pc-main-detail {
  display: flex;
  background-color: rgb(247, 250, 255);
  margin-top: 10px;
  margin-bottom: 50px;
}
.c-section-wrapin_detail {
  width: 73vw;/*66vw;*//*73vw;*/
  margin-top: 5px;
  padding: 2px;
  margin-left: 2.6vw;
  background-color: white;
  border: 1px solid silver;
}
.c-section-wrapin_detail__mobile {
  margin-top: 20px;
  background-color: white;
  border: 1px solid silver;
}
.child2-detail {
  width: 20vw;
  height: auto;
  padding: 8px;
  margin-left: 20px;
  /*
  position: fixed;
  right: 0;
  */
}
/*
.child2-detail-left {
  width: 7vw;
  height: auto;
  margin-left: 20px;
}
.child2-detail-left__twitter {
  margin-top: 30px;
  margin-left: 40px;
  color: rgb(44, 113, 216);
}
.child2-detail-left__twitter:hover {
  color: rgb(91, 136, 204);
}
*/
.detailadv__group {
  width: 20vw;
  height: 100%;
}
.sidebar__adv-group {
  width: 20vw;
  height: 100%;
}
.sidebar__title__detail {
  margin-top: -10px;
  overflow: hidden;
  padding: .5em .5em .5em 1em;
	background-color: white;
	border-bottom: solid .1em rgb(104, 164, 255);
	border-left: solid .5em rgb(104, 164, 255);
}
nav {
  position: sticky;
  position: -webkit-sticky;
  top: 24px;
  max-height: calc(100vh - 40px);
  overflow: auto;
}
.toc__ul__mobile {
  width: 95%;
  margin: 0 auto;
}
.toc__group {
  background-color: white;
  box-shadow: 0 2px 5px rgb(75, 75, 75);
}
.toc__group__mobile {
  background-color: white;
  border: 1px solid silver;
  list-style: none;
  text-align: left;
}
.toc__ul {
  padding: 10px;
}
.toc__li {
  list-style: none;
}
.toc__li:hover {
  text-decoration: none;
  color: blue;
}
.toc__active-list {
  list-style: none;
}
.toc__href {
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.toc__href:hover {
  text-decoration: none;
  font-weight: 600;
  color: rgb(100, 100, 100);
}
.toc__href__child {
  font-size: 12px;
  color: rgb(83, 83, 83);
}
.toc__href__child:hover {
  text-decoration: none;
  font-weight: 600;
  color: rgb(97, 97, 97);
}

.featured-content__name__detail{
  position: relative;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%, 60%);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-shadow:
    1px  1px 1px #000000,
    -1px  1px 1px #000000,
    1px -1px 1px #000000,
    -1px -1px 1px #000000,
    1px  0px 1px #000000,
    0px  1px 1px #000000,
    -1px  0px 1px #000000,
    0px -1px 1px #000000;
}
.featured-content__lang__detail {
  position: relative;
  left: 50%;
  background-color: rgb(144, 172, 199);
  max-width: 130px;
  text-align: center;
  padding: 4px;
  transform: translate(-50%, 15%);
  color: white;
  text-shadow:
    1px  1px 1px #000000,
    -1px  1px 1px #000000,
    1px -1px 1px #000000,
    -1px -1px 1px #000000,
    1px  0px 1px #000000,
    0px  1px 1px #000000,
    -1px  0px 1px #000000,
    0px -1px 1px #000000;
  white-space: nowrap;
}
.featured-content__name_mobile__detail {
  width: 27vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* mobile */
.featured-content__name__detail__mobile{
  position: relative;
  font-size: 30px;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%, 0%);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.featured-content__lang__detail__mobile {
  position: relative;
  font-size: 20vw;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
}
.featured-content__lang__mobile {
  font-size: 20vw;
  color: rgb(255, 255, 255);
  transform: translate(3%, 10%);
  white-space: nowrap;
  text-shadow:
    1px  1px 1px #003366,
    -1px  1px 1px #003366,
    1px -1px 1px #003366,
    -1px -1px 1px #003366,
    1px  0px 1px #003366,
    0px  1px 1px #003366,
    -1px  0px 1px #003366,
    0px -1px 1px #003366;
}
.featured-content__name__mobile {
  color: white;
  transform: translate(3%, 10%);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* 投稿者：管理人 */
.detail__postman {
  color: black;
}
.detail__postman:hover {
  text-decoration: none;
  color: #519eec;
  font-weight: 600;
}