/* under detail sidebar */
.adv-detail__group {
  margin-top: 40px;
}
.advdetail__img {
  padding-top: 10px;
}
/* bottom */
.adv-detail_bottom__group {
  text-align: center;
  padding-bottom: 3vw;
}
.advdetail__bottom-img {
  padding-bottom: 10px;
}

/* detail top */
.adv-detail-top__group {
  text-align: center;
}
.adv-detail-top__img {
}
/* top page */
.adv-top__group {
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.about__grid {
}

/* top page right left */
.adv-top-right__group {
  margin-top: 10px;
}
.adv-top-right__img {
  padding-top: 0px;
}
.adv-top-left__img {
}
.adv-top-left__group {
}
