.wrapper-class {
  padding: 1rem;
  border: 1px solid rgb(134, 134, 134);
  word-wrap: normal
}
.editor-class {
  background-color:rgb(235, 235, 235);
  padding: 1rem;
  border: 1px solid rgb(235, 235, 235);
  word-wrap: normal
}
.toolbar-class {
  border: 1px solid rgb(236, 236, 236);
}
.preview {
  padding: 1rem;
  margin-top: 1rem;
}

/**/
.editors {
	background-color: rgb(209, 209, 209);
}

button {
	border-radius: 2px;
	margin: 0.25em;
	width: auto;
	font-family: "Times";
	line-height: 200%;
	border-radius: 3px;
	border: none;
	color: #263135;
}

button.underline {
	text-decoration: underline;
}

.underline,
.bold,
.italic,
.highlight {
	font-size: 1em;
	text-align: center;
}

.editorContainer {
	padding: 4em 1em 1em 1em;
	margin: 1em;
}

.editors {
	border: 1px transparent solid;
	padding: 1.5em 2em 2.75em 2em;
	margin: 1.25em;
	font-family: "Gotham Pro";
	font-size: 1.1em;
	border-radius: 6px;
	text-align: left;
	line-height: 1.25em;
	color: black;
}

button.underline {
	text-decoration: underline;
}

.strikethrough {
	text-decoration: line-through;
	font-size: 1em;
}

a:link,
a:visited {
	/* color: linear-gradient(to bottom, #6a11cb 0%, #2575fc 100%); */
	color: radial-gradient(#16d9e3 0%, #30c7ec 47%, rgb(70, 73, 247) 100%);
}
/*
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
 }
 */

blockquote {
	color:#ff864e;
	background-color: rgb(236, 236, 236);
	position: relative;
	margin: 2em 0;
	padding: 1em 1em 1em 0.6em;
	font-size: .9em;
	border-left: 5px solid rgb(221, 221, 221);
	border-radius: 2px;
}
.link {
	background-color: black;
}
.h2 {
	font-size: 30px;
}


/* ▼対象文章枠の装飾（任意） */
#targetspace {
	border: 2px solid #0a0;  /* 枠線 */
	border-radius: 0.67em;   /* 角丸 */
	padding: 0.5em;          /* 内側余白 */
	width: 100%;             /* 横幅 */
	box-sizing: border-box;  /* はみ出しを防ぐ対策 */
	background-color: #fff;  /* 背景色 */
	line-height: 1.6;        /* 行の高さ */
}
/* ▼ハイライトON/OFFボタン枠の装飾（任意） */
.controlpanel {
	margin: 1em 0;           /* 外側余白 */
	padding: 1em;            /* 内側余白 */
	background-color: #eee;  /* 背景色 */
}
/* ▼ハイライト部分の装飾 */
span.mark1 { background-color: yellow; } /* 黄色ハイライト用 */
span.mark2 { background-color: lime; }   /* 緑色ハイライト用 */
span.mark3 { background-color: #0ff; }   /* 水色ハイライト用 */