/* Header */
.header{
  display: flex;
  margin-top: 0;
  position: sticky;
  background-color: #d8bc98;
  width: 100vw;
  height: 60px;
  justify-content: space-around;
}
.logotext {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
.header__signin-link {
  color: rgb(0, 100, 231);
}
.header__signin-link:hover {
  text-decoration: none;
  color: rgb(109, 172, 255);
}
.header__bordercoloricon_group {
  bottom: 8px;
}
.header__bordercoloricon_a {
  display: block;
  width: 35px;
  height: 35px;
  text-decoration: none;
}
.header__bordercoloricon {
  color: rgb(50, 122, 255);
}
.headermenurow {
  margin-bottom: 4px;
}
.header_button__mobile_group {
    text-align: right;
    white-space: nowrap;
}
.headerLeft {
  display: flex;
}
.headerLeft__object > h1{
  margin: 0 10px 5px 3px;
  color: white;
  cursor: pointer;
}
.headerLeft__object > .MuiSvgIcon-root{
  border: 1px solid #3a8a00;
  font-size: 15px !important;
  color: white!important;
  background-color: #3a8a00!important;
  padding: 2px;
  border-radius: 5px;

}
.headerLeft__object > .MuiSvgIcon-root:hover{
  border: 1px solid #3a8a00;
  font-size: 15px !important;
  color: #b8dfdf!important;
  background-color: #337600!important;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
/*コミュニティ＋アイコン*/
.header__community{
    display: flex;
    align-items: center;
}
.header__community > .MuiSvgIcon-root {
    color: #3a8a00!important;
    cursor: pointer;
}
.header__community > p{
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.header__community > .MuiSvgIcon-root:hover {
    color: white !important;
}
@media screen and (max-width: 990px){
    .header__community {
        display: none
    }
}
/*検索フォーム*/
.search__form {
    display: flex;
    border: 1px solid coral;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.search__form > .MuiSvgIcon-root{
    color: #baaeaa!important;
    font-size: 20px !important;
}

.search__form > input {
    border: none;
}
.search__form > input:focus{
    outline-width: 0;
}
.search__form > input::placeholder{
    color: #baaeaa;
    font-size: 12px;
}

.search__form:hover{
    display: flex;
    border: 2px solid black;
    background-color: white;
}
@media screen and (max-width: 990px){
    .search__form {
        display: none
    }
    .search__form__media > .MuiSvgIcon-root{
        color: white!important;
        font-size: 23px !important;
        margin-top: 5px;
    }
}
@media screen and (min-width: 991px) {
    .search__form__media > .MuiSvgIcon-root{
        display: none;
    }
}
.headerRight{
  display: flex;

}
.headerRight__object{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.headerRight__object > p{
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.headerRight__object > .MuiSvgIcon-root {
  cursor: pointer;
  color: white !important;
  font-size: 15px !important;
  margin-right: 5px;
}
.headerRight__p:hover{
  text-decoration: underline;
}
.headerRight__p:hover{
  text-decoration: underline;
}
/*投稿する*/
.headerRight__publish{
    display: flex;
    border: 1px solid #3e9200;
    background-color: #3e9200;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}
.headerRight__publish > .MuiSvgIcon-root {
    color: white !important;
    font-size: 15px !important;
    margin-right: 5px;
}
.headerRight__publish > p {
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-right: 3px;
}
.headerRight__publish:hover{
    background-color: #367e00;
}
.headerRight__notification{
  display: flex;
  border: 1px solid #edfce2;
  padding: 3px;
  background-color: #edfce2;
  border-radius: 5px;
  align-items: center;
}

.headerRight__notification > .MuiSvgIcon-root {
  color: #55c500 !important;
  font-size: 20px !important;
  margin-right: 5px;
}
.headerRight__notification > p {
  color: #55c500;
  font-size: 12px;
  cursor: pointer;
  margin-right: 3px;
}
/*headerRight Avatar*/

.headerRight__avatar{
    display: flex;
    align-items: center;
}
.headerRight__avatar > .MuiSvgIcon-root {
    cursor: pointer;
    color: #3a8a00!important;
    font-size: 20px !important;
}
.headerRight__avatar > .MuiSvgIcon-root:hover {
    cursor: pointer;
    color: white!important;
    margin-right: 3px;
}
/*mediaQueries*/

@media screen and (max-width: 757px) {
    .headerRight__object {
        display: none;
    }
    .headerRight__object__media{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .headerRight__object__media > .MuiSvgIcon-root{
        cursor: pointer;
        color: white !important;
        font-size: 15px !important;
        margin-right: 5px;

    }
}

@media screen and (min-width: 758px){
    .headerRight__object__media {
        display: none;
    }
}
