.footer_group {
  padding: 30px;
  background-color: rgb(235, 235, 235);
}
.footer-centering {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  color: #69a844;
  cursor: pointer;
  font-weight: 700;
}
.footer-centering:hover {
  color: #9edd38;
}
.footer__title {
  text-align: center;
}
.footer__whensignin-link {
  cursor: pointer
}
.footer__whensignin-link:hover {
  text-decoration: none;
  cursor: pointer
}
.footer__contact_link_box {
  text-align: center;
}
.footer__contact_link {
  text-align: center;
  color: rgb(0, 32, 211);
  font-family: cursive;
}
.footer__contact_link:hover {
  color: #4460ff;
  text-decoration: none;
}
